<html>
<div class="jumbotron">
  <div class="container">
    <h1>Hello, Nina!</h1>
    <h2>Happy Birthday to you</h2>
    <h3>Have a great day!:-)</h3>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<image src="https://scontent-a-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1966740_10152889196111772_2697034614378239710_n.jpg?oh=048000ca852f6900c4b7e49f79c7d458&oe=5534BC98">

</html>



<!-- <%= image_tag('URL') %> how to put image in HTML using HTML.erb -->
