
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 60px;
   padding-left:60px;
   padding-right:60px;
   border-sizing:border-box;
}

.img-footer {
  max-width:2em;
  max-height:2em;
  margin-right: .5em;
}

footer {
  padding-bottom: 1em;
}
